//- block meta
//-   link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
//-   link(rel="stylesheet", href="./align_demo.css" id="mainstyle")

//- block title
//-   title align Demo

//- block content
//-   .align-demo
//-     span demo content
//-     span demo content
//-     span demo content