.fw-top { vertical-align: top; }
.fw-middle { vertical-align: middle; }
.fw-bottom { vertical-align: bottom; }
.fw-text-left { text-align: left; }
.fw-text-center { text-align: center; }
.fw-text-right { text-align: right; }
.fw-left { float: left; }
.fw-right { float: right; }
.fw-center { margin-left: auto; margin-right: auto; }