block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./elementSize_demo.css" id="mainstyle")

block title
  title elementSize Demo

block content
  .elementSize-demo
    span.fw-size-xxs xxs
    //- button.fw-size-xxs xxs
    //- input.fw-size-xxs(value="xxs")
    span.fw-size-xs xs
    //- button.fw-size-xs xs
    //- input.fw-size-xs(value="xs")
    span.fw-size-sm sm
    //- button.fw-size-sm sm
    //- input.fw-size-sm(value="sm")
    span.fw-size-md md
    //- button.fw-size-md md
    //- input.fw-size-md(value="md")
    span.fw-size-lg lg
    //- button.fw-size-lg lg
    //- input.fw-size-lg(value="lg")
    span.fw-size-xl xl
    //- button.fw-size-xl xl
    //- input.fw-size-xl(value="xl")
    span.fw-size-xxl xxl
    //- button.fw-size-xxl xxl
    //- input.fw-size-xxl(value="xxl")
    span.fw-size-xxxl xxxl
    //- button.fw-size-xxl xxxl
    //- input.fw-size-xxl(value="xxxl")