$controlButtons: darken(mix(#308cfd, #464D5D, 90%), 10%);
// $codeBlocksBackground: #28323F;
// $codeBlocksBackground: darken(#F1F2F6, 4%);
$codeBlocksBackground: darken(#F1F2F6, 0.4%);
$codeBlocksLeftEdge: #E3E4E8;
$codeBlocksBorder: none;
$pageBackground: lighten(#f1f2f6, 2.5%);