section.sec-fillSpace
    h3 Fill space
    h5 Create container which fills remaining width After or Before element.


    .fw-tabulators
      span Fill space demo
      span Demo without fill space

    .fw-tabs
      div.fw-container
        //- p content 1

        p Please note this demo uses no Javascript.

        .fw-example.fw-copy.demo-fillspace
          //- iframe(src='../demos/fillSpace_demo.html')
          .fw-space
            .fw-space-left
              .demo-block-left before fill space
            .fw-space-right
              .demo-block-right after fill space
            .fw-space-fill
              p.fw-text-sm <b>This block wil always fill remaining space between elements.</b> Cras semper metus metus, quis scelerisque leo dapibus et. Vestibulum auctor quam vel tellus tincidunt condimentum. Praesent metus ante, vestibulum in eleifend vel, tristique in eros. Ut non vehicula nisi, et cursus tortor. Morbi viverra at leo in ultricies. Vivamus nec massa metus. Fusce ac turpis metus.
        br
        br
        .fw-resizable.fw-example.fw-copy.demo-fillspace.demo-space-2
          //- iframe(src='../demos/fillSpace_demo.html')
          .fw-space
            .fw-space-left
              .demo-block-left before fill space

            .fw-space-fill
              p This input text will stretch to remaining space.
              input(type="text" placeholder="input text")


      div.fw-container
        //- p content 2
        .fw-resizable.fw-example.fw-copy.demo-fillspace.demo-space-2
          .demo-block-left before content
          p This input text will stretch to remaining space.
          input(type="text" placeholder="input text")


    .fw-tabulators
      span Short usage
      span Semantic
      span Classic

    .fw-tabs
      div.fw-container
        .fw-separator
          span Semantic
        .fw-code.scss
          :code
            .my-space {
              @include fw-space;
              .my-space-left { @include fw-space-left; }
              .my-space-right { @include fw-space-right; }
              .my-space-fill { @include fw-space-fill; }
            }
        .fw-separator
          span Classic
        .fw-code
          :code
            <div class="fw-space">
              <div class="fw-space-left">left content</div>
              <div class="fw-space-right">right content</div>
              <div class="fw-space-fill">fill space</div>
            </div>

      div.fw-container
        .fw-code
          :code
            <div class="my-space">
              <div class="my-space-left">left content</div>
              <div class="my-space-right">right content</div>
              <div class="my-space-fill">fill space</div>
            </div>
        .fw-code.scss
          :code
            .my-space {
              @include fw-space;
              .my-space-left { @include fw-space-left; }
              .my-space-right { @include fw-space-right; }
              .my-space-fill { @include fw-space-fill; }
            }

      div.fw-container
        .fw-code
          :code
            <div class="fw-space">
              <div class="fw-space-left">left content</div>
              <div class="fw-space-right">right content</div>
              <div class="fw-space-fill">fill space</div>
            </div>