//- block meta
//-   link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
//-   link(rel="stylesheet", href="./justifiedBar_demo.css" id="mainstyle")

//- block title
//-   title justifiedBar Demo

//- block content
//-   .justifiedBar-demo
//-     span demo content
//-     span demo content
//-     span demo content