block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./grid_demo.css" id="mainstyle")

block title
  title Responsive grid demo

block content

  .fw-grid.demo-responsive
    .fw-grid-row
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col
      .fw-col-2.fw-col-lg-3.fw-col-md-4.fw-col-sm-6.fw-col-xs-12 col