//- block meta
//-   link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
//-   link(rel="stylesheet", href="./table_demo.css" id="mainstyle")

//- block title
//-   title table Demo

//- block content
//-   .table-demo
//-     span demo content
//-     span demo content
//-     span demo content