.fw-display-inline { display: inline; }
.fw-display-block { display: block; }
.fw-display-inline-block  { display: inline-block ; }
.fw-display-flex { display: flex; }
.fw-display-inline-flex { display: inline-flex; }
.fw-display-inline-table { display: inline-table; }
.fw-display-list-item { display: list-item; }
.fw-display-table { display: table; }
.fw-display-table-caption { display: table-caption; }
.fw-display-table-column-group { display: table-column-group; }
.fw-display-table-header-group { display: table-header-group; }
.fw-display-table-footer-group { display: table-footer-group; }
.fw-display-table-row-group { display: table-row-group; }
.fw-display-table-cell { display: table-cell; }
.fw-display-table-column { display: table-column; }
.fw-display-table-row { display: table-row; }
.fw-display-none { display: none; }