//- block meta
//-   link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
//-   link(rel="stylesheet", href="./display_demo.css" id="mainstyle")

//- block title
//-   title display Demo

//- block content
//-   .display-demo
//-     span demo content
//-     span demo content
//-     span demo content