block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Demo 2

block content
  .fw-demo2
    .media-item
      span.watch watch
    .media-item
      span.mobile mobile
    .media-item
      span.tablet tablet
    .media-item
      span.laptop laptop
    .media-item
      span.desktop desktop