block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Up Demo

block content

  .fw-demo1
    .media-item
      span.xxs-up xxs up
    .media-item
      span.xs-up xs up
    .media-item
      span.sm-up sm up
    .media-item
      span.md-up md up
    .media-item
      span.lg-up lg up
    .media-item
      span.xl-up xl up
    .media-item
      span.xxl-up xxl up