block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Demo Range

block content
  .fw-demo3
    .media-item
      span.d200-400 200px to 400px
    .media-item
      span.d20-45-rem 20rem to 45rem
    .media-item
      span.d15-30-cm 15cm to 30cm