block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Up Demo 2

block content
  .fw-demo2
    .media-item
      span.watch-up watch up
    .media-item
      span.mobile-up mobile up
    .media-item
      span.tablet-up tablet up
    .media-item
      span.laptop-up laptop up
    .media-item
      span.desktop-up desktop up