block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./scaleProperties_demo.css" id="mainstyle")

block title
  title Scale properties demo

block content
  .demo-scaleprop
    .scaledbox
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus quis nisi vitae lacinia. Donec hendrerit consectetur vulputate.