extends ../docs/_demo_layout

block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  //- link(rel="stylesheet", href="./button_demo.css" id="mainstyle")

block title
  title button Demo

block content
  div
    a.fw-button.fw-size-xxl.fw-bg-deeppurple-500.fw-rounded-sm(href="#") Customized Button