extends ../docs/_demo_layout

//- block meta
//-   link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
//-   link(rel="stylesheet", href="./list_demo.css" id="mainstyle")

//- block title
//-   title list Demo

//- block content
//-   .list-demo
//-     span demo content
//-     span demo content
//-     span demo content