extends ../docs/_demo_layout

block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Demo

block content
  //- .fw-media-info

  .fw-demo1
    .media-item
      span.xxs xxs
    .media-item
      span.xs xs
    .media-item
      span.sm sm
    .media-item
      span.md md
    .media-item
      span.lg lg
    .media-item
      span.xl xl
    .media-item
      span.xxl xxl