extends ../docs/_demo_layout

block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./mediaQueries_demo.css" id="mainstyle")

block title
  title Media Queries Down Demo 2

block content
  .fw-demo2
    .media-item
      span.watch-down watch down
    .media-item
      span.mobile-down mobile down
    .media-item
      span.tablet-down tablet down
    .media-item
      span.laptop-down laptop down
    .media-item
      span.desktop-down desktop down