extends ../docs/_demo_layout

block meta
  link(rel="stylesheet", href="../assets/css/demos/demo.css" id="mainstyle")
  link(rel="stylesheet", href="./grid_demo.css" id="mainstyle")

block title
  title Responsive tiles grid demo

block content
  .fw-grid.demo-tiles
    .fw-grid-row.fw-bg-bluegrey-500
      .fw-col-6.fw-col-xs-12
        .fw-tile.fw-tile-050(style="background-image: url(https://static.pexels.com/photos/36367/pexels-photo-large.jpg)")
          .fw-tile-content
            p Label the <b>tile</b>
      .fw-col-3.fw-col-md-6.fw-col-xs-12
        .fw-tile.fw-tile-050(style="background-image: url(https://static.pexels.com/photos/7529/pexels-photo-large.jpeg)")
          .fw-tile-content
            p Label the <b>tile</b>
      .fw-col-3.fw-col-md-6.fw-col-xs-12
        .fw-tile.fw-tile-050(style="background-image: url(https://static.pexels.com/photos/54536/pexels-photo-54536.jpeg)")
          .fw-tile-content
            p Label the <b>tile</b>
      .fw-col-3.fw-col-md-6.fw-col-xs-12
        .fw-tile.fw-tile-050(style="background-image: url(https://static.pexels.com/photos/4952/sky-beach-vacation-summer-medium.jpeg)")
          .fw-tile-content.dimmed
            p Label the <b>tile</b>
      .fw-col-3.fw-col-md-6.fw-col-xs-12
        .fw-tile.fw-tile-025.fw-bg-red
          .fw-tile-content
            p Label the <b>tile</b>
      .fw-col-3.fw-col-md-6.fw-col-xs-12
        .fw-tile.fw-tile-025(style="background-image: url(https://static.pexels.com/photos/26521/pexels-photo-large.jpg)")
          .fw-tile-content
            p Label the <b>tile</b>